<!DOCTYPE html>
<html lang="en">
  <head>



    </head>

    <body>







       

       </br>
   </br>

             
<%= form_for publication, html: { multipart: true } do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
       

<div class="col-md-8">

<div class="well well-sm">

<div class="container">

    
  
  
  
      
                <!-- Form Name -->
                <div class="col-md-7">

                <legend>Nueva Publicacion</legend>
              </div>


            <div class="row">
                
                <div class="col-xs-6">
                    <label >Titulo</label>
        
                        <%= f.text_field :titulo ,class: 'form-control' , placeholder: 'Titulo'  %>
                    
                </div>

           </div>

            

            </br>
            
             
              
                 <div class="row">

                <div class="col-xs-6"> 

    <%= f.fields_for :publication_attachments do |p| %>
     <div class="field">
       <%= p.label :avatar %><br>
       <%= p.file_field :avatar, :multiple => true, name: "publication_attachments[avatar][]" %>
     </div>

     <% end %>
               
               </div>



           

                </br>

                 

             
              







              <div class="row">

              
                <div class="col-md-3">
                    <label>Region &nbsp;</label>
                
                         <%= f.select(:region, options_for_select([['Metropolitana', 'Metropolitana']]),{} , { 'data-width' => "50%", class: "selectpicker show-tick"} ) %>

                
                </div>


          


           
                <div class="col-xs-3">
                    <label >Comuna &nbsp; </label>
                    
                        <%= f.select(:comuna, options_for_select([['Macul', 'Macul'], ['San Bernardo', 'San Bernardo'],['Nuñoa', 'Nuñoa']]),{} , {class: 'selectpicker' ,data: {"live-search": true}} ) %>

                   
                </div>
           
               
         </div>


                     
             

        
              <div class="row">

              
                <div class="col-xs-1">
               
            
                    <label>Tipo &nbsp;</label>
                   
                        <%= f.select(:tipo, options_for_select([['Casa', 'Casa'], ['Departamento', 'Departamento'],['Parcela', 'Parcela']]),{} , {class: 'selectpicker show-tick'}) %>
                    </div>

                      <div class="col-xs-1">
                     </div>
              
                </div>




               </br>
             
              

             <div class="row">

                 <div class="col-xs-2">



                    <label> Precio  </label>


                   

                        <%= f.text_field :precio ,class: 'form-control' , placeholder: 'Precio'  %> 
                    </div>

                     <div class="col-xs-1">
                     </div>
              

              
                <div class="col-xs-2">
                    <label >Superficie</label>
                   
                        <%= f.text_field :superficie ,class: 'form-control' , placeholder: 'Superficie' + ' Mt2'%> 
                </div>
              </div>





                   </br>
             

              
              <div class="row">
                <div class="col-xs-3">
                    <label >Dormitorios</label>
             
                         <%= f.select(:dormitorio, options_for_select([['1 dormitorio', '1'], ['2 dormitorios', '2'],['3 dormitorios', '3'],['4 o mas dormitorios', '4']]),{} , {class: 'selectpicker show-tick'} ) %>
                    </div>
                
           
            

              
                <div class="col-xs-3">
                    <label>Baños</label>
                    
                         <%= f.select(:baño, options_for_select([['1 baño', '1 baño'], ['2 baños', '2'],['3 baños', '3'],['4 o mas baños', '4']]),{} , {class: 'selectpicker show-tick'} ) %>
                  
                </div>

            </div>
               

                      </br>
          

               <div class="row">

              
                <div class="col-xs-3">
                    <label>Estacionamientos</label>

                  
                        <%= f.select(:estacionamiento, options_for_select([['1 estacionamiento', '1'], ['2 estacionamientos', '2'],['3 o mas estacionamientos', '3'],['No tiene', '0']]),{} , {class: 'selectpicker show-tick'} ) %>
                    
                </div>
            </div>



                       </br>
              </br>
              

              <div class="row">

                <div class="form-group">
                    <label class="col-md-1 control-label" for="email">Descripcion</label>
                    <div class="col-md-6">
                        <%= f.text_area :descripcion ,class: 'form-control' , placeholder: 'Descripcion'  %> 
                    </div>
                </div>
             
                    </br>

                </div>
              </br>
              </br>
              </br>

              

                <div class="form-group">
                   
                    <div class="col-md-4">
                        <%= f.submit 'Crear Aviso', class: 'btn btn-primary pull-right col-md-6' %>
                    </div>
                </div>
        
        
       
  </div>
</div>
</div>

</div>


<% end %>



                 <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
                 <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
          <script type="text/javascript">
               $(document).ready(function() {
               $('.selectpicker').selectpicker();
              });
          </script>



</body>


</html>

