
<% provide(:page_title, @publication.titulo) %>
<% provide(:blog_active, 'active') %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @publication.titulo %>
</p>


<%= image_tag @publication.image.url(:medium) %>

<p>
  <strong>Region:</strong>
  <%= @publication.region %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @publication.comuna %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @publication.precio %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @publication.tipo %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @publication.superficie %>
</p>

<p>
  <strong>Dormitorio:</strong>
  <%= @publication.dormitorio %>
</p>

<p>
  <strong>Baño:</strong>
  <%= @publication.baño %>
</p>

<p>
  <strong>Estacionamiento:</strong>
  <%= @publication.estacionamiento %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @publication.descripcion %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @publication.slug %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
